@font-face {
  font-family: FontAwesome;
  src: url('./fontawesome.woff');
}

body, html {
  margin: 0;
  overflow: hidden;
}

#init-message {
  font-family: Arial, Helvetica, sans-serif;
}

#highlight-area {
  position: absolute;
  z-index: 2;
}

.highlight-margin, .highlight-padding, .highlight-content {
  animation: ShowHighlight .2s forwards;
}

.highlight {
  position: absolute;
  background: #4fd3;
}

.highlight.appear {
  animation: ShowHighlight .2s forwards;
}

@keyframes ShowHighlight {
  from { opacity: 0 }
  to { opacity: 1 }
}

.highlight-horizontal, .highlight-vertical {
  position: absolute;
  width: 100%;
  border-width: 2px 0;
  border-style: dashed;
  border-color: #f74;
  box-sizing: border-box;
  border-image: repeating-linear-gradient(to right, #f74 0, #f74 4px, transparent 4px, transparent 6px, #f53 6px, #f53 10px, transparent 10px, transparent 12px) 6 / 2px 0;
}

.highlight-vertical {
  height: 100%;
  border-width: 0 2px;
  border-image: repeating-linear-gradient(to bottom, #f74 0, #f74 4px, transparent 4px, transparent 6px, #f53 6px, #f53 10px, transparent 10px, transparent 12px) 6 / 0 2px;
}

.highlight-margin {
  position: absolute;
  background: #8ff3;
}

.highlight-padding {
  position: absolute;
  background: #fb83;
  border-color: #88f3;
  border-style: solid;
}

.highlight-content {
  position: absolute;
  background: #8bf3;
}

#lively-pane {
  position: absolute;
  left: 60%;
  bottom: 0;
  width: 40%;
  height: 160px;
  background: #99f9;
  box-sizing: border-box;
  border-radius: 16px;
  border: solid 8px #76e;
  overflow: hidden;
  z-index: 3;
}

#lively-controls {
  position: absolute;
  bottom: 0;
  height: 3rem;
  background: #76e;
  box-shadow: 0 0 8px #0006;
  border-radius: 0 8px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

#lively-error, #lively-warning, #lively-minimize {
  position: relative;
  padding: 0 .5rem;
  background: none;
  border: none;
  outline: none;
  color: #e42;
  font-family: FontAwesome;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  transition: opacity .1s, transform .1s;
}

#lively-warning {
  color: #fb3;
}

#lively-minimize {
  color: #334;
}

#lively-minimize:hover {
  color: #112;
}

#error-toggle:checked ~ #lively-controls #lively-error,
#warning-toggle:checked ~ #lively-controls #lively-warning {
  opacity: .6;
}

#minimize-toggle:checked ~ #lively-controls #lively-minimize {
  transform: rotate(-180deg);
}

#lively-error:after, #lively-warning:after {
  content: attr(data-indicator);
  padding: 0 .5rem;
  position: absolute;
  left: 100%;
  background: #247;
  border-radius: 999px;
  transform: translate(-80%, -30%);
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .8rem;
  font-weight: 900;
}

#lively-center {
  padding-bottom: 3rem;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 8px #0006;
  box-sizing: border-box;
  overflow: auto;
}

.lively-message {
  margin: .3rem .3rem .3rem .3rem;
  padding: .5rem 1rem;
  float: left;
  background: #0afc;
  border-radius: 6px;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.lively-error {
  background: #e42a;
}

.lively-warning {
  background: #fb3a;
}

#error-toggle:checked ~ #lively-center .lively-error,
#warning-toggle:checked ~ #lively-center .lively-warning {
  display: none;
}

iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  z-index: 0;
  transition: opacity .5s, z-index .5s;
}

iframe[showing="true"] {
  opacity: 1;
  z-index: 1;
}